<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon"
		href="https://th.bing.com/th/id/R.4f7af48557050fcabfd0e876d7b88015?rik=CcmCOoelSn1ePA&riu=http%3a%2f%2fwww.vectorico.com%2fwp-content%2fuploads%2f2018%2f02%2fyoutube-dark-square.png&ehk=BHlDi%2fDWJt9a%2bTIWKpdUNHqBOJtkdwpvUebEYo3vhRo%3d&risl=&pid=ImgRaw&r=0"
		type="image/x-icon">
	<title>YouTubers' Birthdays</title>
	<link rel="stylesheet" href="styles.css">
</head>

<body>
	<div class="container">
		<div class="main">
			<img class="youtube"
				src="https://img.freepik.com/premium-vector/red-youtube-logo-social-media-logo_197792-1803.jpg"
				alt="Youtube">
			<h1>YouTubers' Birthdays</h1>
		</div>
		<p class="totalYtbCount">YouTubers on the list: <span class="count">0</span></p>
		<div class="search_and_buttonsection">
			<form>
				<input type="text" id="search-input" placeholder="Enter a keyword...">
				<button onclick="filterTable()" id="search-submit" type="submit">Search</button>
			</form>
			<button class="btn">
			<a id="addyoutuber" href="/addYoutuber">
				Add Youtuber
			</a>	
			</button>
		</div>

		<table id="table">
			<thead>
				<tr>
					<th>Category</th>
					<th>Name</th>
					<th>Birthday</th>
					<th>Total Views (approx)</th>
				</tr>
			</thead>
			<tbody>
				<% youtubers.forEach(youtuber=> { %>
					<tr>
						<td>
							<%= youtuber.category %>
						</td>
						<td><a href="<%= youtuber.link %>">
								<%= youtuber.name %>
							</a></td>
						<td>
							<%= youtuber.birthday.toLocaleDateString(undefined, { day: 'numeric' , month: 'long' , year: 'numeric' }) %>
						</td>
						<td>
							<%= youtuber.totalViews %>
						</td>
					</tr>
					<% }) %>
			</tbody>
		</table>
	</div>
	<div id="pagination">
		<button id="left">⬅️</button>
		<p class="displayCurrentPage">
			<span class="currentPage">0</span> / <span class="totalPages">0</span>
		</p>
		<button id="right">➡️</button>
	</div>
	<script src="index.js"></script>
</body>

</html>